* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: url(back.avif) no-repeat center center/cover;
    color: #ffffff;
    transition: 0.3s;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    border: #ffffff 2px solid;
    padding: 5px 10px;
    border-radius: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #150332b0;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #3fddec;
    border-radius: 10px 20px;
}

p {
    line-height: 1.6;
    margin: 20px;
}

.about-text {
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section {
    padding: 60px 20px;
    text-align: center;
    font-size: 20px;
    animation: fadeIn 2.5s ease forwards;
}

.section h2 {
    margin-bottom: 20px;
}

ol {
    text-align: left;
    display: inline-block;
    margin-top: 20px;
}

li {
    margin: 15px 0;
}

strong {
    color: #00adb5;
    font-size: 20px;
}

button {
    padding: 10px 20px;
    border: 2px 2px solid;
    border-color: #ffffff;
    background: #00adb5;
    color: white;
    cursor: pointer;
    border-radius: 100px;
    font-size: 15px;
}

button:hover {
    background: #59c6cc;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px 0;
}

.skill {
    padding: 20px 50px;
    background: #06092be1;
    color: white;
    border-radius: 20px;
    transition: transform 0.3s;
    border: 2px solid #ffffff;
}

.skill:hover {
    transform: scale(1.1);
}

form {
    max-width: 400px;
    margin: 20px auto;
}

input {
    border: none;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

textarea {
    border: none;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    height: 80px;
    resize: none;
}

.submit {
    padding: 10px 20px;
    margin: 20px;
}